:plain
  <html xmlns="http://www.w3.org/1999/xhtml">
  <head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta http-equiv="Content-Language" content="en-gb">
  <meta name="revisit-after" content="30 days">
  <meta name="description" content="Your Description Here">
  <meta name="keywords" content="your, keywords, here">
  <meta name="robots" content="INDEX, FOLLOW">
  <meta name="distribution" content="Global">
  <meta name="rating" content="General">
  <meta name="copyright" content="Multi Profit Websites">
  <title></title>
  <link href="stylesheets/style.css" rel="stylesheet" type="text/css">
  <script type="text/javascript" src="js/jquery-1.3.2.js"></script>
  <script type="text/javascript" src="js/ui.core.js"></script>

  <script type="text/javascript" src="js/ui.sortable.js"></script>
  </head>
  <body>
  <table width="914" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF">
    <tr>
      <td height="160" colspan="3" align="center" valign="middle" class="header">
  	<table width="880" border="0" align="center" cellpadding="0" cellspacing="0">
  	    <tr>
  	      <td height="15" colspan="2" align="left" valign="middle">&nbsp;</td>
          </tr>

  	    <tr>
          <td colspan="2" align="left" valign="middle">
  		<img src="images/logo.png" alt="some_text"/></td>
          </tr>
          <tr>
          <td width="100" height="10" align="left" valign="middle">&nbsp;</td>
          <td width="780" height="10" align="left" valign="middle">
  		<div class="sub_header_contain">DietEaser.co.uk<div class="sub_header_text">DietEaser.co.uk</div></td>

          </tr>
      </table>	</td>
    </tr>
  <!--top navigation -->
    <tr>
      <td height="40" colspan="3" align="center" valign="middle" class="nav_mid"><table width="898" border="0" cellpadding="0" cellspacing="0" class="nav_mid_bdr">
        <tr>
          <td align="center" valign="middle"><table width="890" border="0" align="center" cellpadding="0" cellspacing="0">
            <tr>

              <td height="40" align="center" valign="middle"><table border="0" cellspacing="0" cellpadding="0">

    <td width="8">&nbsp;</td>
                  <td width="10" height="40" class="button_left">&nbsp;</td>
                  <td align="center" valign="middle" class="button_mid"><div class="btn">
                  <a href="/" target="_self">Home</a></div></td>
                  <td width="10" class="button_right">&nbsp;</td>
               <td width="8">&nbsp;</td>

    <td width="8">&nbsp;</td>
                  <td width="10" height="40" class="button_left">&nbsp;</td>
                  <td align="center" valign="middle" class="button_mid"><div class="btn">
                  <a href="index_ebay" target="_self">Products On eBay</a></div></td>
                  <td width="10" class="button_right">&nbsp;</td>
               <td width="8">&nbsp;</td>


    <td width="8">&nbsp;</td>

                  <td width="10" height="40" class="button_left">&nbsp;</td>
                  <td align="center" valign="middle" class="button_mid"><div class="btn">
                  <a href="index_amazon" target="_self">Products On Amazon</a></div></td>
                  <td width="10" class="button_right">&nbsp;</td>
               <td width="8">&nbsp;</td>


    <td width="8">&nbsp;</td>
                  <td width="10" height="40" class="button_left">&nbsp;</td>

                  <td align="center" valign="middle" class="button_mid"><div class="btn">
                  <a href="index_rrfc" target="_self">Products To Resell</a></div></td>
                  <td width="10" class="button_right">&nbsp;</td>
               <td width="8">&nbsp;</td>


    <td width="8">&nbsp;</td>
                  <td width="10" height="40" class="button_left">&nbsp;</td>
                  <td align="center" valign="middle" class="button_mid"><div class="btn">

                  <a href="index_info" target="_self">Information Products</a></div></td>
                  <td width="10" class="button_right">&nbsp;</td>
               <td width="8">&nbsp;</td>


    <td width="8">&nbsp;</td>
                  <td width="10" height="40" class="button_left">&nbsp;</td>
                  <td align="center" valign="middle" class="button_mid"><div class="btn">
                  <a href="index_rss" target="_self">Latest News</a></div></td>

                  <td width="10" class="button_right">&nbsp;</td>
               <td width="8">&nbsp;</td>

                  </table></td>
            </tr>
          </table></td>
        </tr>
      </table></td>
    </tr>

   <!--top navigation -->
    <tr>
      <td colspan="3" align="center" valign="top" class="main_mid"><table width="895" border="0" align="center" cellpadding="0" cellspacing="0">
        <tr>
          <td width="3" height="5" class="table_topl">&nbsp;</td>
          <td width="180" height="5" class="table_top">&nbsp;</td>
          <td width="5" class="table_topr">&nbsp;</td>
          <td width="1" rowspan="3">&nbsp;</td>
          <td width="3" class="table_topl">&nbsp;</td>

          <td width="500" class="table_top">&nbsp;</td>
          <td width="5" class="table_topr">&nbsp;</td>
          <td width="2">&nbsp;</td>
          <td width="3" height="5" class="table_topl">&nbsp;</td>
          <td width="180" height="5" class="table_top">&nbsp;</td>
          <td width="5" height="5" class="table_topr">&nbsp;</td>
        </tr>
        <tr>
          <td width="3" class="table_left">&nbsp;</td>

          <td style="padding-top: 5px;" width="180" align="center" valign="top">
  <!--left contents-->
    <table width="180" border="0" align="center" cellpadding="0" cellspacing="0">
      <tr>
        <td width="3" height="20" align="center" valign="middle" class="table2_titletl">&nbsp;</td>
        <td width="168" height="30" colspan="2" align="center" valign="middle" class="table2_title_top">Site Navigation</td>
        <td width="5" height="20" align="center" valign="middle" class="table2_titletr">&nbsp;</td>
      </tr>
      <tr>

        <td height="20" align="center" valign="middle" class="table2_left">&nbsp;</td>
        <td height="20" colspan="2" align="center" valign="middle">&nbsp;</td>
        <td height="20" align="center" valign="middle" class="table2_right">&nbsp;</td>
      </tr>
      <tr>
        <td width="3" align="center" valign="middle" class="table2_left">&nbsp;</td>
        <td width="20" height="20" align="center" valign="middle" class="bullet_sm"></td>
        <td width="150" height="20" align="left" valign="middle" class="main1"><a href="index" target="_self">Home</a></td>

        <td width="5" align="center" valign="middle" class="table2_right">&nbsp;</td>
      </tr>
      <tr>
        <td width="3" align="center" valign="middle" class="table2_left">&nbsp;</td>
        <td width="20" height="20" align="center" valign="middle" class="bullet_sm"></td>
        <td width="150" height="20" align="left" valign="middle" class="main1"><a href="index_ebay" target="_self">Products On eBay</a></td>
        <td width="5" align="center" valign="middle" class="table2_right">&nbsp;</td>
      </tr>

      <tr>
        <td width="3" align="center" valign="middle" class="table2_left">&nbsp;</td>
        <td width="20" height="20" align="center" valign="middle" class="bullet_sm"></td>
        <td width="150" height="20" align="left" valign="middle" class="main1"><a href="index_amazon" target="_self">Products On Amazon</a></td>
        <td width="5" align="center" valign="middle" class="table2_right">&nbsp;</td>
      </tr>
      <tr>
        <td width="3" align="center" valign="middle" class="table2_left">&nbsp;</td>

        <td width="20" height="20" align="center" valign="middle" class="bullet_sm"></td>
        <td width="150" height="20" align="left" valign="middle" class="main1"><a href="index_rrfc" target="_self">Products To Resell</a></td>
        <td width="5" align="center" valign="middle" class="table2_right">&nbsp;</td>
      </tr>
      <tr>
        <td width="3" align="center" valign="middle" class="table2_left">&nbsp;</td>
        <td width="20" height="20" align="center" valign="middle" class="bullet_sm"></td>
        <td width="150" height="20" align="left" valign="middle" class="main1"><a href="index_info" target="_self">Information Products</a></td>

        <td width="5" align="center" valign="middle" class="table2_right">&nbsp;</td>
      </tr>
      <tr>
        <td width="3" align="center" valign="middle" class="table2_left">&nbsp;</td>
        <td width="20" height="20" align="center" valign="middle" class="bullet_sm"></td>
        <td width="150" height="20" align="left" valign="middle" class="main1"><a href="index_youtube" target="_self">YouTube Videos</a></td>
        <td width="5" align="center" valign="middle" class="table2_right">&nbsp;</td>
      </tr>

      <tr>
        <td width="3" align="center" valign="middle" class="table2_left">&nbsp;</td>
        <td width="20" height="20" align="center" valign="middle" class="bullet_sm"></td>
        <td width="150" height="20" align="left" valign="middle" class="main1"><a href="index_rss" target="_self">Latest News</a></td>
        <td width="5" align="center" valign="middle" class="table2_right">&nbsp;</td>
      </tr>
      <tr>
        <td height="6" align="center" valign="middle" class="table2_left">&nbsp;</td>

        <td height="6" colspan="2" align="center" valign="middle">&nbsp;</td>
        <td height="6" align="center" valign="middle" class="table2_right">&nbsp;</td>
      </tr>
      <tr>
        <td width="3" height="6" align="center" valign="middle" class="table2_botl">&nbsp;</td>
        <td width="168" height="6" colspan="2" align="center" valign="middle" class="table2_bot">&nbsp;</td>
        <td width="5" height="6" align="center" valign="middle" class="table2_botr">&nbsp;</td>
      </tr>
    </table>

  <!--categories -->
    <table width="180" border="0" align="center" cellpadding="0" cellspacing="0">
    <tr>
      <td width="3" height="20" class="table2_titletl">&nbsp;</td>
      <td height="30" align="center" valign="middle" class="table2_title_top">Store Navigation</td>
      <td width="5" height="20" class="table2_titletr">&nbsp;</td>
    </tr>
    <tr>
      <td width="3" class="table2_left">&nbsp;</td>

      <td align="center" valign="top" bgcolor="#FFFFFF" class="main1">
    
      <table width="170" border="0" align="left" cellpadding="0" cellspacing="0">
                        <tr>
                          <td height="20" colspan="2" align="center" valign="middle">&nbsp;</td>
                        </tr>
                        <tr>
                          <td width="25" height="20" align="center" valign="middle" class="bullet_sm"></td>
                          <td width="145" height="20" align="left" valign="middle" class="main1"><a href="index_ebay?id=Nutrition">Nutrition</a></td>

                        </tr>
                        <tr>
                          <td width="25" height="20" align="center" valign="middle" class="bullet_sm"></td>
                          <td width="145" height="20" align="left" valign="middle" class="main1"><a href="index_ebay?id=Vitamins">Vitamins</a></td>
                        </tr>
                        <tr>
                          <td width="25" height="20" align="center" valign="middle" class="bullet_sm"></td>
                          <td width="145" height="20" align="left" valign="middle" class="main1"><a href="index_ebay?id=Food Supplement">Food Supplement</a></td>

                        </tr>
                        <tr>
                          <td width="25" height="20" align="center" valign="middle" class="bullet_sm"></td>
                          <td width="145" height="20" align="left" valign="middle" class="main1"><a href="index_ebay?id=Excercise">Excercise</a></td>
                        </tr>
                        <tr>
                          <td width="25" height="20" align="center" valign="middle" class="bullet_sm"></td>
                          <td width="145" height="20" align="left" valign="middle" class="main1"><a href="index_ebay?id=Fitness">Fitness</a></td>

                        </tr>
                        <tr>
                          <td width="25" height="20" align="center" valign="middle" class="bullet_sm"></td>
                          <td width="145" height="20" align="left" valign="middle" class="main1"><a href="index_ebay?id=Health">Health</a></td>
                        </tr>
                        <tr>
                          <td width="25" height="20" align="center" valign="middle" class="bullet_sm"></td>
                          <td width="145" height="20" align="left" valign="middle" class="main1"><a href="index_ebay?id=Weight Loss">Weight Loss</a></td>

                        </tr>
                        <tr>
                          <td height="6" colspan="2" align="center" valign="middle">&nbsp;</td>
                        </tr>
                    </table>
    
      </td>
      <td width="5" class="table2_right">&nbsp;</td>
    </tr>
    <tr>

      <td width="3" height="6" class="table2_botl">&nbsp;</td>
      <td height="6" class="table2_bot">&nbsp;</td>
      <td width="5" height="6" class="table2_botr">&nbsp;</td>
    </tr>
  </table>
  <!--categories -->
  <!--content pages -->
  <!--left contents-->
  <div id="col-left">
  </div>
  <!--left contents-->

	

  <!--clickbank adrotator-->
    <table width="180" border="0" align="center" cellpadding="0" cellspacing="0">
      <tr>
        <td width="3" height="20" class="table2_titletl">&nbsp;</td>
        <td height="30" align="center" valign="middle" class="table2_title_top">Links and Offers</td>
        <td width="5" height="20" class="table2_titletr">&nbsp;</td>
      </tr>
      <tr>
        <td width="3" class="table2_left">&nbsp;</td>

        <td align="center" valign="top" bgcolor="#FFFFFF" class="main1">
  <br>
  <!--clickbank adrotator-->
  <script type='text/javascript' src='http://www.cbadrotator-feed.com/feeds2/gen?CID=pegeia67&kw1=diet&kw2=nutrition&kw3=&n1=3&n2=3&width=170&word_break=15&border_width=&border_color=&border_style=none&title_len=80&title_font=tahoma&title_size=12&title_color=%23000000&desc_font=tahoma&desc_size=10&desc_color=%23000000&padding=0&rkey1=commission&rkey2=affiliate&rkey3=&target=_blank&orientation=vertical&desc_len=120&order_by=random&talign=left&tid=&desc_bold=normal&title_bold=bold&isCloak=no&CloakID=www.your_link.com&output=js'></script><br>
  <!--clickbank adrotator-->
  <br>
        </td>
        <td width="5" class="table2_right">&nbsp;</td>
      </tr>
      <tr>
        <td width="3" height="6" class="table2_botl">&nbsp;</td>

        <td height="6" class="table2_bot">&nbsp;</td>
        <td width="5" height="6" class="table2_botr">&nbsp;</td>
      </tr>
    </table>
  <!--clickbank adrotator-->
  <!--paydotcom -->
  <script>username="leonardoh2004";categories="13";theme="12";</script><script src="http://widget.paydotcom.com/widget.js"></script>
  <!--paydotcom -->
  <!--adsense -->
  <table width="180" border="0" align="center" cellpadding="0" cellspacing="0">
    <tr>

      <td width="3" height="20" class="table2_titletl">&nbsp;</td>
      <td height="30" align="center" valign="middle" class="table2_title_top">Links and Offers</td>
      <td width="5" height="20" class="table2_titletr">&nbsp;</td>
    </tr>
    <tr>
      <td width="3" class="table2_left">&nbsp;</td>
      <td align="center" valign="top" bgcolor="#FFFFFF" class="main1">
  <br>
          <script type="text/javascript"><!--
          google_ad_client = "pub-xxxxxxxxxxxxxxxx";
          google_alternate_color = "FFFFFF";
          google_ad_width = 120;
          google_ad_height = 240;
          google_ad_format = "120x240_as";
          google_ad_type = "text";
          google_ad_channel ="";
          google_color_border = "FFFFFF";
          google_color_bg = "FFFFFF";
          google_color_link = "000000";
          google_color_text = "000000";
          google_color_url = "000000";
          //--></script>

          <script type="text/javascript"  src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
                              </script>
  <br>
      </td>
      <td width="5" class="table2_right">&nbsp;</td>
    </tr>
    <tr>
      <td width="3" height="6" class="table2_botl">&nbsp;</td>
      <td height="6" class="table2_bot">&nbsp;</td>
      <td width="5" height="6" class="table2_botr">&nbsp;</td>

    </tr>
  </table>
  <!--adsense -->
          <td width="5" class="table_right">&nbsp;</td>
          <td width="3" class="table_left">&nbsp;</td>
          <td style="padding-top: 5px;" width="500" align="center" valign="top">
  <!--middle contents -->
  <!--rss -->
  <div id="col-mid">
  <div class="portlet-border"><div class="portlet" id="rss_feed_block"><div class="header-long"><table width="492" border="0" cellspacing="0" cellpadding="0"><tr class="table2_title"><td height="26" align="center" valign="middle"><font STYLE="line-height: 12px; face="Verdana"><strong>Latest News on Health and Fitness</strong></font></td></tr></table></div><div class="portlet-content">
  		<div class='rss_item' style='padding:0 5px;'>

  					<div class='rss_item_title'><a href='http://ezinearticles.com/6495451' target='_blank'>Can the Phil Parker Lightning Process Help People With Chronic Fatigue Syndrome (CFS)?</a></div>
  					<div class='rss_item_date'>19 Aug 2011 11:45</div>
  					<div class='rss_item_content'>There is much debate as to the cause of Chronic Fatigue Syndrome (CFS). An incident in Bergen, Norway gives an interesting perspective on understanding health and disease and gives some insight into why the Phil Parker Lightning Process proposes that there is way to influence our health and our lives.</div>
  				</div>
  		<div class='rss_item' style='padding:0 5px;'>
  					<div class='rss_item_title'><a href='http://ezinearticles.com/6498433' target='_blank'>Fitness From The Top Down</a></div>
  					<div class='rss_item_date'>19 Aug 2011 11:39</div>

  					<div class='rss_item_content'>Are you a leader in your family or a lone health nut. The health of the country depends upon you being the former.</div>
  				</div>
  		<div class='rss_item' style='padding:0 5px;'>
  					<div class='rss_item_title'><a href='http://ezinearticles.com/6498465' target='_blank'>On Being A Physician: The Power Of Touch</a></div>
  					<div class='rss_item_date'>19 Aug 2011 11:32</div>
  					<div class='rss_item_content'>The healing magic of human touch. The physician's touch is necessary to communicate that a patient will not be abandoned, that their complaints are validated and treatment efforts are instituted and confirmed through touch.</div>
  				</div>

  		<div class='rss_item' style='padding:0 5px;'>
  					<div class='rss_item_title'><a href='http://ezinearticles.com/6498422' target='_blank'>Is Bottled Water Really A Safe And Healthy Alternative?</a></div>
  					<div class='rss_item_date'>19 Aug 2011 11:19</div>
  					<div class='rss_item_content'>Most people are not aware that bottled water can be just as unhealthy as tap water. With the health risks and the expense of drinking bottled water why not build a diy tap water filter and drink safe, clean water and save money to boot.</div>
  				</div>
  		<div class='rss_item' style='padding:0 5px;'>
  					<div class='rss_item_title'><a href='http://ezinearticles.com/6497151' target='_blank'>Lipid Metabolism and Transport</a></div>

  					<div class='rss_item_date'>19 Aug 2011 11:02</div>
  					<div class='rss_item_content'>The role that lipids play in our body are discussed in this article. This also gives information as to how lipids are digested, metabolized, and transported throughout our system.</div>
  				</div>
  		<div class='rss_item' style='padding:0 5px;'>
  					<div class='rss_item_title'><a href='http://ezinearticles.com/6497742' target='_blank'>Five Health and Wellness Tips to Stick to This Summer</a></div>
  					<div class='rss_item_date'>19 Aug 2011 10:13</div>
  					<div class='rss_item_content'>This summer, enjoy your lazy summer days, but don't forget to take care of yourself. Summer is the perfect time to get outside and enjoy the fresh air.</div>

  				</div>
  		<div class='rss_item' style='padding:0 5px;'>
  					<div class='rss_item_title'><a href='http://ezinearticles.com/6497423' target='_blank'>How to Kill Candida and Yeast Infections the Natural Way</a></div>
  					<div class='rss_item_date'>19 Aug 2011 08:31</div>
  					<div class='rss_item_content'>Even though yeast infections are a fairly common ailment it seems that there is a lot of confusion about them. A lot of people think that only women can suffer from yeast infections and are surprised to discover that men, and even babies, can suffer from an infection like this. In fact, yeast infections aren't contained to the genital area alone and can be found in the mouth and throat as well. With so much confusion about even the most basic information regarding yeast infections it's easy to see why there is so much conflicting information about curing them. While many people will turn to costly medications to kill candida, the bacterium that causes these infections, there are a number of natural alternatives that may be a better option.</div>
  				</div>
  		<div class='rss_item' style='padding:0 5px;'>

  					<div class='rss_item_title'><a href='http://ezinearticles.com/6482657' target='_blank'>Leaky Bowels - Diagnosing and Curing</a></div>
  					<div class='rss_item_date'>18 Aug 2011 15:59</div>
  					<div class='rss_item_content'>Have you heard of Leaky Bowels? Did you know it may be the cause of many other health problems you are experiencing? If you believe you may be afflicted, you will want to read this article. Learn how to diagnose and cure Leaky Gut Syndrome.</div>
  				</div>
  		<div class='rss_item' style='padding:0 5px;'>
  					<div class='rss_item_title'><a href='http://ezinearticles.com/6495672' target='_blank'>CPR Certification and Training Is Important and Fun</a></div>
  					<div class='rss_item_date'>18 Aug 2011 15:21</div>

  					<div class='rss_item_content'>For the almost half a century, health workers and citizens have been using CPR to save lives. Learning and becoming certified in CPR can be accomplished using private and public classes.</div>
  				</div>
  		<div class='rss_item' style='padding:0 5px;'>
  					<div class='rss_item_title'><a href='http://ezinearticles.com/6481571' target='_blank'>5 Ways You Can Use Manuka Honey</a></div>
  					<div class='rss_item_date'>18 Aug 2011 15:18</div>
  					<div class='rss_item_content'>Manuka Honey is a popular superfood with a unique flavor and numerous health benefits. There are many uses for this natural resource including healthcare supplements, antioxidant-rich health food, antibacterial properties, natural skincare and beauty products.</div>
  				</div>

  		<div class='rss_item' style='padding:0 5px;'>
  					<div class='rss_item_title'><a href='http://ezinearticles.com/6494915' target='_blank'>Wellness Inc</a></div>
  					<div class='rss_item_date'>18 Aug 2011 14:21</div>
  					<div class='rss_item_content'>Weight and appearance now define social and economic opportunities, whereas surname, old school tie and family network used to. Celebrities, movers and shakers and the wealthy are active participants in the wellness revolution today, establishing a beachhead in diet, exercise, vitamins, nutritional supplements and reversing the ageing process. People are actively pursuing healthier lifestyles but don't have the time for it and there is an upsurge in interest in cosmetic alterations and anti-ageing treatments.</div>
  				</div>
  		<div class='rss_item' style='padding:0 5px;'>
  					<div class='rss_item_title'><a href='http://ezinearticles.com/6501664' target='_blank'>Power Is Quickness</a></div>

  					<div class='rss_item_date'>18 Aug 2011 13:35</div>
  					<div class='rss_item_content'>I often get asked by parents and athletes alike to work on foot speed and quickness. I find this question so dumb since my livelihood depends on the athlete's performance increasing. (I do not find the people asking dumb--most of the time). And, I have never actually had someone give me a good, adequate definition of quickness. Think quick, can you? It is a topic that is often spoken of with coaches and athletes, yet many don't understand what it really is.</div>
  				</div>
  		<div class='rss_item' style='padding:0 5px;'>
  					<div class='rss_item_title'><a href='http://ezinearticles.com/6494916' target='_blank'>What Are Some Hair Products for Dry Hair?</a></div>
  					<div class='rss_item_date'>18 Aug 2011 13:02</div>
  					<div class='rss_item_content'>Dry and damaged hair take on an ungainly coarse texture and become brittle which leads to breakage and hair loss. A variety of reasons may be at the root of dry hair; from environmental stress to excessive heat, dandruff and the loss of natural oils secreted by the skin of the scalp etc. Fortunately, restoring your crowning glory to its former splendor does not take a lot.</div>

  				</div>
  		<div class='rss_item' style='padding:0 5px;'>
  					<div class='rss_item_title'><a href='http://ezinearticles.com/6493625' target='_blank'>Small Changes Towards a Healthier You</a></div>
  					<div class='rss_item_date'>18 Aug 2011 11:39</div>
  					<div class='rss_item_content'>The first way that I can tell if I've gained a few pounds is when I notice my pants are fitting a little tighter around the waist. If this happens once I may be able to blame the dryer for shrinking the pants - if it happens with a few pairs of pants the only person I can blame is myself!</div>
  				</div>
  		<div class='rss_item' style='padding:0 5px;'>

  					<div class='rss_item_title'><a href='http://ezinearticles.com/6493865' target='_blank'>Who Is Throwing the Babies Into the River?</a></div>
  					<div class='rss_item_date'>18 Aug 2011 11:16</div>
  					<div class='rss_item_content'>I once heard a tale: If you saw a baby floating in a stream, you would certainly try to rescue it. If you then saw many babies floating in the stream, you would probably ask yourself, "Who is responsible for putting the babies there?" and you would likely seek to find the perpetrator. In other words, you would seek to stop the problem at the source.</div>
  				</div></div><div class="content-long"></div></div></div></div>
  <!--rss -->
            </td>
          <td width="5" class="table_right">&nbsp;</td>
          <td width="2">&nbsp;</td>

          <td width="3" class="table_left">&nbsp;</td>
          <td style="padding-top: 5px;" width="180" align="center" valign="top">
  <!--right contents-->
  <!--optin-->
  <!--aweber -->
              <table width="180" border="0" align="center" cellpadding="0" cellspacing="0">
                <tr>
                  <td width="3" height="20" class="table2_titletl">&nbsp;</td>
                  <td height="30" align="center" valign="middle" class="table2_title_top">Newsletter</td>
                  <td width="5" height="20" class="table2_titletr">&nbsp;</td>

                </tr>
                <tr>
                  <td width="3" class="table2_left">&nbsp;</td>
                  <td align="center" valign="top" bgcolor="#FFFFFF" class="main1">
                  <form method="post" action="http://www.aweber.com/scripts/addlead.pl" target="_blank">
                              <input type="hidden" name="meta_web_form_id" value="">
                              <input type="hidden" name="meta_split_id" value="">
                              <input type="hidden" name="unit" value="">
                              <input type="hidden" name="redirect" value="">

                              <input type="hidden" name="meta_adtracking" value="">
                              <input type="hidden" name="meta_message" value="1">
                              <input type="hidden" name="meta_required" value="name,from">
                              <input type="hidden" name="meta_forward_vars" value="0">
                              <table align="center" class="main1">
                                <tr>
                                  <td align="center" class="inline_main"><center>
                                      <div align="center"><strong class="main1">Subscribe to Our Newsletter to Receive Information About Updates, Improvements and Developments That Will Maximize Your Earning Potential.</strong></div>

                                  </center></td>
                                </tr>
                                <tr class="inline_main">
                                  <td height="50" align="center" class="inline_main"><p>Name <br>
                                          <input type="text" name="name" value="" size="20">
                                          <br>
                                  </p></td>
                                </tr>

                                <tr class="inline_main">
                                  <td height="50" align="center" class="inline_main"><p>Email<br>
                                          <input type="text" name="from" value="" size="20">
                                  </p></td>
                                </tr>
                                <tr>
                                  <td height="40" align="center" valign="middle" class="inline_main">
                                  <input type="submit" name="submit" value="Submit"></td>

                                </tr>
                              </table>
                            </form>
                      </td>
                  <td width="5" class="table2_right">&nbsp;</td>
                </tr>
                <tr>
                  <td width="3" height="6" class="table2_botl">&nbsp;</td>
                  <td height="6" class="table2_bot">&nbsp;</td>

                  <td width="5" height="6" class="table2_botr">&nbsp;</td>
                </tr>
              </table>
  <!--aweber -->
  <!--optin-->
  <!--right contents-->
  <div class="column" id="col-right">
  </div>
  <!--right contents-->
  <!-- RRF -->
  		    <div id="rrfWidget" style="display:block; margin:0px; padding:0px;">
  		    <table width="180" border="0" align="center" cellpadding="0" cellspacing="0">

  		    <table width="180" border="0" align="center" cellpadding="0" cellspacing="0">
                <tr>
                  <td width="3" height="20" class="table2_titletl">&nbsp;</td>
                  <td height="30" align="center" valign="middle" class="table2_title_top">Products to Resell</td>
                  <td width="5" height="20" class="table2_titletr">&nbsp;</td>
                </tr>
                <tr>
                  <td width="3" class="table2_left">&nbsp;</td>

                  <td align="center" valign="top" bgcolor="#FFFFFF" class="main1">
                  	<div id="rrfWidgetContent" style="display:block; margin:0px; padding:0px;">
                
  					<div style="padding:10px 0px 0px 0px;"><table style="font-family: Arial; font-size: 12px; text-align: left; margin:0px; padding:0px; border:none;" cellpadding="0" cellspacing="0" border="0"><tr><td><div style="width: 170px;" class="rrfwProduct"><div style="text-align: center; font-weight: bold; margin:0px 0px 0px 0px; padding: 0px 2px 3px 3px; " class="rrfwTitle"><a href="http://resellrightsfortune.com/goto/url/len12/?go=http%3A%2F%2Fresellrightsfortune.com%2Fthe-diet-tweak-system%2Fpd%2F8616" target="rrf">The Diet Tweak System</a></div><div style="text-align: center; margin:0px; padding: 2px 0px 0px 0px;" class="rrfwImage"><a href="http://resellrightsfortune.com/goto/url/len12/?go=http%3A%2F%2Fresellrightsfortune.com%2Fthe-diet-tweak-system%2Fpd%2F8616" title="The Diet Tweak System - ResellRightsFortune.com" style="text-decoration: none;" target="rrf"><img src="http://the.bestfileserver.com/Vxr6LBacwE/sm_DietTweak Cover.png" alt="The Diet Tweak System" style="width:expression(this.width &gt; this.height &amp;&amp; this.width &gt; 170 ? 170 : true); height:expression(this.height &gt; 170 ? 170 : true); max-width:170px; max-height:170px; border: none;" border="0" /></a></div><div style="margin: 3px 2px 0px 2px; padding: 0px; text-align: justify; font-family: Arial; font-size: 11px;" class="rrfcDescription"> Diet Tweak  This book will show you 3 Super Simple to Follow &quot;Tricks and Tweaks&quot;  that will have you Burning between 400-500 Extra Calories<a href="http://resellrightsfortune.com/goto/url/len12/?go=http%3A%2F%2Fresellrightsfortune.com%2Fthe-diet-tweak-system%2Fpd%2F8616" title="The Diet Tweak System - ResellRightsFortune.com" target="rrf">...</a></div><div style="text-align: center; margin:3px 0px 0px 0px; padding: 0px;" class="rrfwLink"><a href="http://resellrightsfortune.com/goto/url/len12/?go=http%3A%2F%2Fresellrightsfortune.com%2Fthe-diet-tweak-system%2Fpd%2F8616" title="The Diet Tweak System - ResellRightsFortune.com" target="rrf">Download Here -&gt;</a></div></div><div style="width: 170px;" class="rrfwProduct"><div style="text-align: center; font-weight: bold; margin:10px 0px 0px 0px; padding: 0px 2px 3px 3px; " class="rrfwTitle"><a href="http://resellrightsfortune.com/goto/url/len12/?go=http%3A%2F%2Fresellrightsfortune.com%2Fdieting-and-nutrition-health-and-wellness-series%2Fpd%2F8452" target="rrf">Dieting And Nutrition   Health And Wellness Series</a></div><div style="text-align: center; margin:0px; padding: 2px 0px 0px 0px;" class="rrfwImage"><a href="http://resellrightsfortune.com/goto/url/len12/?go=http%3A%2F%2Fresellrightsfortune.com%2Fdieting-and-nutrition-health-and-wellness-series%2Fpd%2F8452" title="Dieting And Nutrition   Health And Wellness Series - ResellRightsFortune.com" style="text-decoration: none;" target="rrf"><img src="http://the.bestfileserver.com/a6laYC5wYX/sm_DietingAndNutrition-softbackHigh.jpg" alt="Dieting And Nutrition   Health And Wellness Series" style="width:expression(this.width &gt; this.height &amp;&amp; this.width &gt; 170 ? 170 : true); height:expression(this.height &gt; 170 ? 170 : true); max-width:170px; max-height:170px; border: none;" border="0" /></a></div><div style="margin: 3px 2px 0px 2px; padding: 0px; text-align: justify; font-family: Arial; font-size: 11px;" class="rrfcDescription"> The whole world is going the diet way today. Either people are already on some or the other diet or are planning one. There are many<a href="http://resellrightsfortune.com/goto/url/len12/?go=http%3A%2F%2Fresellrightsfortune.com%2Fdieting-and-nutrition-health-and-wellness-series%2Fpd%2F8452" title="Dieting And Nutrition   Health And Wellness Series - ResellRightsFortune.com" target="rrf">...</a></div><div style="text-align: center; margin:3px 0px 0px 0px; padding: 0px;" class="rrfwLink"><a href="http://resellrightsfortune.com/goto/url/len12/?go=http%3A%2F%2Fresellrightsfortune.com%2Fdieting-and-nutrition-health-and-wellness-series%2Fpd%2F8452" title="Dieting And Nutrition   Health And Wellness Series - ResellRightsFortune.com" target="rrf">Download Here -&gt;</a></div></div><div style="width: 170px;" class="rrfwProduct"><div style="text-align: center; font-weight: bold; margin:10px 0px 0px 0px; padding: 0px 2px 3px 3px; " class="rrfwTitle"><a href="http://resellrightsfortune.com/goto/url/len12/?go=http%3A%2F%2Fresellrightsfortune.com%2Fdieting-and-nutrition-for-the-21st-century%2Fpd%2F8411" target="rrf">Dieting And Nutrition For The 21st Century</a></div><div style="text-align: center; margin:0px; padding: 2px 0px 0px 0px;" class="rrfwImage"><a href="http://resellrightsfortune.com/goto/url/len12/?go=http%3A%2F%2Fresellrightsfortune.com%2Fdieting-and-nutrition-for-the-21st-century%2Fpd%2F8411" title="Dieting And Nutrition For The 21st Century - ResellRightsFortune.com" style="text-decoration: none;" target="rrf"><img src="http://the.bestfileserver.com/V1bFOpPq6c/sm_DietingAndNutrition-softbackHigh.jpg" alt="Dieting And Nutrition For The 21st Century" style="width:expression(this.width &gt; this.height &amp;&amp; this.width &gt; 170 ? 170 : true); height:expression(this.height &gt; 170 ? 170 : true); max-width:170px; max-height:170px; border: none;" border="0" /></a></div><div style="margin: 3px 2px 0px 2px; padding: 0px; text-align: justify; font-family: Arial; font-size: 11px;" class="rrfcDescription"> &quot;A Hard Hitting, Powerhouse E-book That Is Guaranteed To Change The Way You Look At Your Health And Welness... Forever!&quot;  Everything You<a href="http://resellrightsfortune.com/goto/url/len12/?go=http%3A%2F%2Fresellrightsfortune.com%2Fdieting-and-nutrition-for-the-21st-century%2Fpd%2F8411" title="Dieting And Nutrition For The 21st Century - ResellRightsFortune.com" target="rrf">...</a></div><div style="text-align: center; margin:3px 0px 0px 0px; padding: 0px;" class="rrfwLink"><a href="http://resellrightsfortune.com/goto/url/len12/?go=http%3A%2F%2Fresellrightsfortune.com%2Fdieting-and-nutrition-for-the-21st-century%2Fpd%2F8411" title="Dieting And Nutrition For The 21st Century - ResellRightsFortune.com" target="rrf">Download Here -&gt;</a></div></div><div style="width: 170px;" class="rrfwProduct"><div style="text-align: center; font-weight: bold; margin:10px 0px 0px 0px; padding: 0px 2px 3px 3px; " class="rrfwTitle"><a href="http://resellrightsfortune.com/goto/url/len12/?go=http%3A%2F%2Fresellrightsfortune.com%2Fgood-carb-diet%2Fpd%2F8170" target="rrf">Good Carb Diet</a></div><div style="text-align: center; margin:0px; padding: 2px 0px 0px 0px;" class="rrfwImage"><a href="http://resellrightsfortune.com/goto/url/len12/?go=http%3A%2F%2Fresellrightsfortune.com%2Fgood-carb-diet%2Fpd%2F8170" title="Good Carb Diet - ResellRightsFortune.com" style="text-decoration: none;" target="rrf"><img src="http://the.bestfileserver.com/eQEKVBAuXI/sm_goodcarbdiet.jpg" alt="Good Carb Diet" style="width:expression(this.width &gt; this.height &amp;&amp; this.width &gt; 170 ? 170 : true); height:expression(this.height &gt; 170 ? 170 : true); max-width:170px; max-height:170px; border: none;" border="0" /></a></div><div style="margin: 3px 2px 0px 2px; padding: 0px; text-align: justify; font-family: Arial; font-size: 11px;" class="rrfcDescription"> Includes the Good Carb Diet Overview and 350 Cooking Recipes <a href="http://resellrightsfortune.com/goto/url/len12/?go=http%3A%2F%2Fresellrightsfortune.com%2Fgood-carb-diet%2Fpd%2F8170" title="Good Carb Diet - ResellRightsFortune.com" target="rrf">...</a></div><div style="text-align: center; margin:3px 0px 0px 0px; padding: 0px;" class="rrfwLink"><a href="http://resellrightsfortune.com/goto/url/len12/?go=http%3A%2F%2Fresellrightsfortune.com%2Fgood-carb-diet%2Fpd%2F8170" title="Good Carb Diet - ResellRightsFortune.com" target="rrf">Download Here -&gt;</a></div></div><div style="width: 170px;" class="rrfwProduct"><div style="text-align: center; font-weight: bold; margin:10px 0px 0px 0px; padding: 0px 2px 3px 3px; " class="rrfwTitle"><a href="http://resellrightsfortune.com/goto/url/len12/?go=http%3A%2F%2Fresellrightsfortune.com%2Fdieting-dilemma-and-skinny-solutions%2Fpd%2F7757" target="rrf">Dieting Dilemma And Skinny Solutions</a></div><div style="text-align: center; margin:0px; padding: 2px 0px 0px 0px;" class="rrfwImage"><a href="http://resellrightsfortune.com/goto/url/len12/?go=http%3A%2F%2Fresellrightsfortune.com%2Fdieting-dilemma-and-skinny-solutions%2Fpd%2F7757" title="Dieting Dilemma And Skinny Solutions - ResellRightsFortune.com" style="text-decoration: none;" target="rrf"><img src="http://the.bestfileserver.com/Icrg7AE6M8/sm_DietingDilemma-softbackHigh.jpg" alt="Dieting Dilemma And Skinny Solutions" style="width:expression(this.width &gt; this.height &amp;&amp; this.width &gt; 170 ? 170 : true); height:expression(this.height &gt; 170 ? 170 : true); max-width:170px; max-height:170px; border: none;" border="0" /></a></div><div style="margin: 3px 2px 0px 2px; padding: 0px; text-align: justify; font-family: Arial; font-size: 11px;" class="rrfcDescription">  &quot; Learning About Dieting Dilemma &amp; Skinny Solutions Can Have Amazing Benefits For Your Life And Dieting Success!&quot;  Discover the dieting<a href="http://resellrightsfortune.com/goto/url/len12/?go=http%3A%2F%2Fresellrightsfortune.com%2Fdieting-dilemma-and-skinny-solutions%2Fpd%2F7757" title="Dieting Dilemma And Skinny Solutions - ResellRightsFortune.com" target="rrf">...</a></div><div style="text-align: center; margin:3px 0px 0px 0px; padding: 0px;" class="rrfwLink"><a href="http://resellrightsfortune.com/goto/url/len12/?go=http%3A%2F%2Fresellrightsfortune.com%2Fdieting-dilemma-and-skinny-solutions%2Fpd%2F7757" title="Dieting Dilemma And Skinny Solutions - ResellRightsFortune.com" target="rrf">Download Here -&gt;</a></div></div><div style="width: 170px;" class="rrfwProduct"><div style="text-align: center; font-weight: bold; margin:10px 0px 0px 0px; padding: 0px 2px 3px 3px; " class="rrfwTitle"><a href="http://resellrightsfortune.com/goto/url/len12/?go=http%3A%2F%2Fresellrightsfortune.com%2Fdiet-and-weight-loss%2Fpd%2F1800" target="rrf">Diet And Weight Loss</a></div><div style="text-align: center; margin:0px; padding: 2px 0px 0px 0px;" class="rrfwImage"><a href="http://resellrightsfortune.com/goto/url/len12/?go=http%3A%2F%2Fresellrightsfortune.com%2Fdiet-and-weight-loss%2Fpd%2F1800" title="Diet And Weight Loss - ResellRightsFortune.com" style="text-decoration: none;" target="rrf"><img src="http://the.bestfileserver.com/mIHqI3W0BS/sm_feb22c_new.jpg" alt="Diet And Weight Loss" style="width:expression(this.width &gt; this.height &amp;&amp; this.width &gt; 170 ? 170 : true); height:expression(this.height &gt; 170 ? 170 : true); max-width:170px; max-height:170px; border: none;" border="0" /></a></div><div style="margin: 3px 2px 0px 2px; padding: 0px; text-align: justify; font-family: Arial; font-size: 11px;" class="rrfcDescription"> Warning: Don&#039;t Be Surprised If Your Boy Friend Doesn&#039;t Recognize You After He Returns From His 2 Months Long Tour...!  Do You Shy Away From<a href="http://resellrightsfortune.com/goto/url/len12/?go=http%3A%2F%2Fresellrightsfortune.com%2Fdiet-and-weight-loss%2Fpd%2F1800" title="Diet And Weight Loss - ResellRightsFortune.com" target="rrf">...</a></div><div style="text-align: center; margin:3px 0px 0px 0px; padding: 0px;" class="rrfwLink"><a href="http://resellrightsfortune.com/goto/url/len12/?go=http%3A%2F%2Fresellrightsfortune.com%2Fdiet-and-weight-loss%2Fpd%2F1800" title="Diet And Weight Loss - ResellRightsFortune.com" target="rrf">Download Here -&gt;</a></div></div></td></tr><tr><td><div style="text-align: center; font-size: 10px; padding:3px 0px 0px 0px;" class="rrfwPowered">Powered by: <a href="http://resellrightsfortune.com/goto/url/len12/?go=http%3A%2F%2Fresellrightsfortune.com%2F" target="rrf">Resell Rights Fortune</a></div></td></tr></table> </div>					
  					</div>

  		        </td>
                  <td width="5" class="table2_right">&nbsp;</td>
                </tr>
                <tr>
                  <td width="3" height="6" class="table2_botl">&nbsp;</td>
                  <td height="6" class="table2_bot">&nbsp;</td>
                  <td width="5" height="6" class="table2_botr">&nbsp;</td>
                </tr>
              </table>

              </div>
  		<!-- RRF -->
  <!--affiliate links-->
  <!--affiliate links-->
	
  <!--clickbank adrotator-->
    <table width="180" border="0" align="center" cellpadding="0" cellspacing="0">
      <tr>
        <td width="3" height="20" class="table2_titletl">&nbsp;</td>
        <td height="30" align="center" valign="middle" class="table2_title_top">Links and Offers</td>

        <td width="5" height="20" class="table2_titletr">&nbsp;</td>
      </tr>
      <tr>
        <td width="3" class="table2_left">&nbsp;</td>
        <td align="center" valign="top" bgcolor="#FFFFFF" class="main1">
  <br>
  <!--clickbank adrotator-->
  <script type='text/javascript' src='http://www.cbadrotator-feed.com/feeds2/gen?CID=pegeia67&kw1=diet&kw2=nutrition&kw3=&n1=3&n2=3&width=170&word_break=15&border_width=&border_color=&border_style=none&title_len=80&title_font=tahoma&title_size=12&title_color=%23000000&desc_font=tahoma&desc_size=10&desc_color=%23000000&padding=0&rkey1=commission&rkey2=affiliate&rkey3=&target=_blank&orientation=vertical&desc_len=120&order_by=random&talign=left&tid=&desc_bold=normal&title_bold=bold&isCloak=no&CloakID=www.your_link.com&output=js'></script><br>
  <!--clickbank adrotator-->
  <br>
        </td>

        <td width="5" class="table2_right">&nbsp;</td>
      </tr>
      <tr>
        <td width="3" height="6" class="table2_botl">&nbsp;</td>
        <td height="6" class="table2_bot">&nbsp;</td>
        <td width="5" height="6" class="table2_botr">&nbsp;</td>
      </tr>
    </table>
  <!--clickbank adrotator-->

  <!--adsense -->
  <table width="180" border="0" align="center" cellpadding="0" cellspacing="0">
    <tr>
      <td width="3" height="20" class="table2_titletl">&nbsp;</td>
      <td height="30" align="center" valign="middle" class="table2_title_top">Links and Offers</td>
      <td width="5" height="20" class="table2_titletr">&nbsp;</td>
    </tr>
    <tr>
      <td width="3" class="table2_left">&nbsp;</td>

      <td align="center" valign="top" bgcolor="#FFFFFF" class="main1">
  <br>
          <script type="text/javascript"><!--
          google_ad_client = "pub-xxxxxxxxxxxxxxxx";
          google_alternate_color = "FFFFFF";
          google_ad_width = 120;
          google_ad_height = 240;
          google_ad_format = "120x240_as";
          google_ad_type = "text";
          google_ad_channel ="";
          google_color_border = "FFFFFF";
          google_color_bg = "FFFFFF";
          google_color_link = "000000";
          google_color_text = "000000";
          google_color_url = "000000";
          //--></script>
          <script type="text/javascript"  src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
                              </script>
  <br>
      </td>
      <td width="5" class="table2_right">&nbsp;</td>
    </tr>
    <tr>

      <td width="3" height="6" class="table2_botl">&nbsp;</td>
      <td height="6" class="table2_bot">&nbsp;</td>
      <td width="5" height="6" class="table2_botr">&nbsp;</td>
    </tr>
  </table>
  <!--adsense -->
                    </td>
          <td width="5" class="table_right">&nbsp;</td>
        </tr>
        <tr>

          <td width="3" height="6" class="table_botl">&nbsp;</td>
          <td width="180" height="6" class="table_bot">&nbsp;</td>
          <td width="5" class="table_botr">&nbsp;</td>
          <td width="3" class="table_botl">&nbsp;</td>
          <td width="500" class="table_bot">&nbsp;</td>
          <td width="5" class="table_botr">&nbsp;</td>
          <td width="2">&nbsp;</td>
          <td width="3" height="6" class="table_botl">&nbsp;</td>
          <td width="180" height="6" class="table_bot">&nbsp;</td>

          <td width="5" height="6" class="table_botr">&nbsp;</td>
        </tr>
      </table></td>
    </tr> 
    <tr>
      <td height="60" colspan="3" align="center" valign="middle" class="footer"><table width="880" border="0" align="center" cellpadding="0" cellspacing="0">
        <tr>
          <td width="600" align="left" valign="middle">
  		<div class="footer_contain">DietEaser.co.uk<div class="footer_text">DietEaser.co.uk</div>		</td>

          <td><table border="0" align="center" cellpadding="0" cellspacing="0" class="footer_text2">
            <tr>
              <td width="80" align="center" valign="middle">
  			<div class="ftrnav"><a href="index">Home</a></div></td>
              <td width="16" align="center" valign="middle">|</td>
              <td width="80" align="center" valign="middle">
  			<div class="ftrnav"><a href="contact">Contact</a></div></td>

              <td width="16" align="center" valign="middle">|</td>
              <td width="80" align="center" valign="middle">
  			<div class="ftrnav"><a href="sitemap">Site Map</a></div></td>
            </tr>
          </table></td>
        </tr>
      </table>    </td>

    </tr>

  </body>
  </html>